.container {
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
.header__iner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    min-height: 142px;
}

.logo {
    flex-shrink: 2;
}

.menu__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 65px;
    font-weight: 400;
    font-size: 18px;
    color: #151618;
}
.nav__controls {
    display: flex;
    align-items: center;
    gap: 100px;
}
.controls__user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.tea {
    background-image: url(images/backgrounde.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.tea__title-text {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.tea__moment-title {
    max-width: 790px;
    color: #fff;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 20px;
}

.tea__moment-text {
    margin-bottom: 48px;
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    max-width: 560px;
    line-height: normal;
}

.blockquote__text {
    text-align: center;
    margin: 150px auto;
    font-style: italic;
    font-weight: 300;
    font-size: 40px;
    color: #151618;
    max-width: 704px;
}

.title__collections {
    text-align: center;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 40px;
    color: #151618;
}

.collections__tea-list {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.name__tea {
    padding-top: 10px;
    font-weight: 400;
    font-size: 24px;
    color: #151618;
    max-width: 218px;
    margin-bottom: 210px;
}

.title__customer {
    margin-bottom: 60px;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    color: #151618;
}

.customer__comments-list {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
}

.comments {
    max-width: 280px;
    max-height: 132px;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    color: #151618;
}

.name__user {
    max-width: 280px;
    font-weight: 600;
    font-size: 20px;
    color: #151618;
}

.tea__blog--header {
    font-weight: 400;
    font-size: 40px;
    color: #151618;
    text-align: center;
    margin: 150px auto 60px auto;
}

.tea__blog--list {
    display: grid;
    grid-template-columns: repeat(2, minmax(460px, 542px));
    grid-template-rows: repeat(2, minmax(153px, 180px));
    gap: 53px;
    /* margin-top: 60px; */
}

.tea__blog--item {
    display: flex;
    gap: 20px;
    align-items: stretch;
}

.tea__blog--image {
    width: 270px;
    height: 180px;
}

.tea__blog--info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tea__blog--title {
    font-weight: 400;
    font-size: 24px;
    color: #151618;
}

.tea__blog--author {
    font-weight: 300;
    font-size: 13px;
    color: #151618;
    margin-top: 10px;
}

.tea__blog--link {
    display: flex;
}

#asadasdasd {
    margin-top: 250px;
}

#fon__tea-png {
    max-width: 674px;
    max-height: 418px;
    background-image: url(images/tea1.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}

.title__text {
    display: flex;
    flex-direction: column;
}

.information {
    font-weight: 400;
    font-size: 40px;
    color: #151618;
}

.information__text {
    max-width: 580px;
    margin-top: 50px;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #151618;
}

.confirmation {
    display: flex;
    flex-direction: row;
}

.flex {
    display: flex;
}

.footer {
    display: grid;
    /*grid-auto-flow: column;*/
    grid-template-columns: 118px 156px 269px 270px;
    /*grid-template-rows: 29px 274px 22px;*/
    margin-top: 150px;

}

.footer__label {
    font-weight: 400;
    font-size: 24px;
    color: #151618;
}

.footer__label:nth-child(2) {
    /*grid-column-start: span 2;*/
}
.footer__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__list--item {
    font-weight: 300;
    font-size: 16px;
    color: #151618;
}
.footer__bottom--text {
    display: flex;
    /*align-items: flex-end;*/
    font-weight: 300;
    font-size: 16px;
    color: #151618;
}
.footer__payments {
    display: flex;
    align-items: end;
    /*gap: 20px;*/
}
.footer__blockquote {
    /*display: flex;
    flex-direction: column;
}*/
.footer__blockquote--quote {
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    color: #151618;
    margin-bottom: 20px;
}
.footer__blockquote--author {
    font-weight: 300;
    font-size: 12px;
    color: #151618;
}
.footer__contacts {
}
.footer__contacts--massage {
    font-weight: 300;
    font-size: 13px;
    color: #151618;
}
.footer__contacts--credits {
    /*display: flex;*/
}
.footer__contacts--logo {
    width: 57px;
    height: 91px;
    margin-right: 40px;
}

div {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}

.footer__contacts--credit {
     display: flex;
}
.footer__contacts--phone {
    display: flex;
}
.footer__contacts--mail {
}
.footer__socials {
    display: flex;
    align-items: center;
}
.footer__socials--item {
    display: flex;
    align-items: center;
}
